<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="server" value=""/>
		<add key="database" value=""/>
		<add key="usernameSQL" value=""/>
		<add key="passwordSQL" value=""/>
		<add key="MultipleActiveResultSets" value="true"/>
		<add key="StartUpPage" value="Dashboard"/>
		<add key="checkStartUp" value="false"/>
		<add key="NumberProductPerPage" value="6"/>
		<add key="checkRememberMe" value="false"/>
		<add key="username" value=""/>
		<add key ="password" value=""/>
	</appSettings>
</configuration>